# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_file = "../output_data/cities.csv"
vacation_df = pd.read_csv(cities_file)
vacation_df

,Index,City ID,City Name,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,107304,Buraidah,SA,26.33,43.98,31.00,35,75,8.20,1585384323
1,1,3833367,Ushuaia,AR,-54.80,-68.30,5.00,80,40,4.10,1585384149
2,2,4462716,Cumberland,US,35.05,-78.87,20.00,82,1,5.10,1585384355
3,3,2093967,Kimbe,PG,-5.55,150.14,25.71,87,100,1.16,1585384356
4,4,3175860,Gravina in Puglia,IT,40.82,16.42,15.00,76,20,1.50,1585384356
...,...,...,...,...,...,...,...,...,...,...,...
569,569,258175,Lixouri,GR,38.20,20.43,16.00,93,75,2.10,1585384494
570,570,779350,Karasjok,NO,69.47,25.51,-3.00,79,100,26.20,1585384494
571,571,3402648,Carutapera,BR,-1.20,-46.02,26.11,84,97,3.41,1585384419
572,572,5847486,Kailua,US,21.40,-157.74,25.00,69,75,5.70,1585384494
573,573,4328010,Houma,US,29.60,-90.72,25.00,83,75,6.20,1585384495

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# Store latitude and longitude in locations
locations = vacation_df[["Lat", "Lng"]].astype(float)

humidity = vacation_df["Humidity"].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
pref_loc_df = vacation_df.dropna(how='any')
pref_loc_df = pref_loc_df[(pref_loc_df["Max Temp"] < 25) & (pref_loc_df["Max Temp"] > 18) & (pref_loc_df["Wind Speed"] < 10) & (pref_loc_df["Cloudiness"] == 0)]
pref_loc_df

,Index,City ID,City Name,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
11,11,1000543,Graaff-Reinet,ZA,-32.25,24.53,23.33,54,0,0.45,1585384357
38,38,1015776,Bredasdorp,ZA,-34.53,20.04,21.00,60,0,5.70,1585384363
99,99,3533556,Zaza del Medio,CU,22.00,-79.37,18.71,91,0,2.39,1585384378
261,261,3576994,Cockburn Town,TC,21.46,-71.14,24.62,75,0,5.71,1585384153
266,266,3369174,Calvinia,ZA,-31.47,19.78,24.00,19,0,2.60,1585384421
272,272,4013679,Coahuayana Viejo,MX,18.73,-103.68,22.68,40,0,1.33,1585384422
281,281,2214827,Mizdah,LY,31.45,12.98,22.32,17,0,5.19,1585384424
381,381,3471451,Arraial do Cabo,BR,-22.97,-42.03,23.84,77,0,3.63,1585384448
520,520,961226,Ritchie,ZA,-29.04,24.60,22.00,64,0,8.20,1585384482
544,544,347634,≈¢ah≈£ƒÅ,EG,26.77,31.50,22.00,43,0,7.20,1585384488

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = pref_loc_df[["City Name", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df = hotel_df.reset_index(drop=True)
hotel_df

          City Name Country    Lat     Lng Hotel Name
0     Graaff-Reinet      ZA -32.25   24.53
1        Bredasdorp      ZA -34.53   20.04
2    Zaza del Medio      CU  22.00  -79.37
3     Cockburn Town      TC  21.46  -71.14
4          Calvinia      ZA -31.47   19.78
5  Coahuayana Viejo      MX  18.73 -103.68
6            Mizdah      LY  31.45   12.98
7   Arraial do Cabo      BR -22.97  -42.03
8           Ritchie      ZA -29.04   24.60
9             ≈¢ah≈£ƒÅ      EG  26.77   31.50

In [7]:
#Setting Params 
params = {
        "radius": 5000,
        "type": "lodging",
        "key": g_key
    }
for i in range(len(hotel_df)):
    target_coordinates = f'{hotel_df.loc[i, "Lat"]}, {hotel_df.loc[i, "Lng"]}'
    
    params["location"] = target_coordinates,
    
    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    # convert response to json
    places_data = response.json()
    # Print the json (pretty printed)
    #print(json.dumps(places_data, indent=4, sort_keys=True))
    try:
        hotel_df.loc[i, "Hotel Name"] = places_data["results"][0]["name"]
    except (KeyError, IndexError):
        hotel_df.loc[i, "Hotel Name"] = "No nearest hotel"

In [8]:
hotel_df

          City Name Country    Lat     Lng                Hotel Name
0     Graaff-Reinet      ZA -32.25   24.53           Rietjiesbos B&B
1        Bredasdorp      ZA -34.53   20.04  Bredasdorp Country Manor
2    Zaza del Medio      CU  22.00  -79.37          No nearest hotel
3     Cockburn Town      TC  21.46  -71.14        Osprey Beach Hotel
4          Calvinia      ZA -31.47   19.78            Die Lemoenhuis
5  Coahuayana Viejo      MX  18.73 -103.68           Hotel Los Arcos
6            Mizdah      LY  31.45   12.98           ŸÅŸÜÿØŸÇ ÿ®ŸÜŸäŸá ÿ™ÿ≠ÿ™ŸäŸá
7   Arraial do Cabo      BR -22.97  -42.03       Pousada Porto Praia
8           Ritchie      ZA -29.04   24.60    Riverside country club
9             ≈¢ah≈£ƒÅ      EG  26.77   31.50           M√∏h√£mƒôd T√£rƒôk üè†

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Display Map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))